<div class="flex justify-center bg-base-300 min-h-screen pattern-isometric pattern-indigo-500 pattern-bg-transparent pattern-opacity-60 pattern-size-8">
    <div class="w-full max-w-screen-md bg-base-100">
        <slot />
    </div>
</div>