<div class="flex justify-center bg-base-300 min-h-screen pattern-isometric pattern-indigo-500 pattern-bg-transparent pattern-opacity-60 pattern-size-8">
    <div class="w-full max-w-screen-md bg-base-100">
        <slot />
    </div>

    <span class="[writing-mode:vertical-lr] text-sm px-1 py-3">
        Made by
        <a href="https://github.com/willpinha" class="link link-accent link-hover">
            willpinha
        </a>
        and
        <a href="https://github.com/willpinha/daisy-collection/graphs/contributors" class="link link-accent link-hover">
            contributors
        </a>
    </span>
</div>