---
	import "@fortawesome/fontawesome-free/css/all.min.css";
	import { ViewTransitions, slide } from "astro:transitions";
	
	const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en" transition:animate={slide()}>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Collection | {title}</title>
	<link rel="icon" type="image/x-icon" href="/logo.svg">
	<script is:inline>
		/**
		 * Prevents the FART problem (https://css-tricks.com/flash-of-inaccurate-color-theme-fart/)
		 */
		function preventFart() {
			const theme = localStorage.getItem("theme");	

			const element = document.documentElement;

			if (theme === null) {
				element.setAttribute("data-theme", "dark");
			} else {
				element.setAttribute("data-theme", theme);
			}
		}

		preventFart();
	</script>

	<script>
		import { themeChange } from "theme-change";

		document.addEventListener("astro:page-load", themeChange);
	</script>

	<ViewTransitions />
</head>
<body>
	<slot />	
</body>
</html>
