---
	import "../styles/global.css";
	
	const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Components | {title}</title>
	<link rel="icon" type="image/x-icon" href="/logo.svg">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script is:inline>
		/**
		 * Prevents the FART problem (https://css-tricks.com/flash-of-inaccurate-color-theme-fart/)
		 */
		function preventFart() {
			const theme = localStorage.getItem("theme");	

			const element = document.documentElement;

			if (theme === null) {
				element.setAttribute("data-theme", "dark");
			} else {
				element.setAttribute("data-theme", theme);
			}
		}

		preventFart();
	</script>

	<script>
		import { themeChange } from "theme-change";

		themeChange();
	</script>
</head>
<body>
	<slot />
</body>
</html>
